<html>
  <head>
    <title>{{ name }}</title>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
  </head>
  <body>
    <h1>Uses History</h1>
    <table>
      {% if rows %}
      <tr>
        {% for name in rows[0].keys() %}
          <th>{{ name }}</th>
        {% endfor %}
      <tr>
      {% endif %}
      {% for row in rows %}
      <tr>
        {% for col in row.values() %}
          <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
