<html>
  <head>
    <title>{{ name }}</title>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
  </head>
  <body>
    <h1> Uses Page </h1>
    <table>
      {% if rows %}
      <tr>
        {% for name in rows[0].keys() %}
          <th>{{ name }}</th>
        {% endfor %}
      <tr>
      {% endif %}
      {% for row in rows %}
      <tr>
        {% for col in row.values() %}
          {% if col %}
          <td> {{ col }} </td>
          {% else %}
          {% set itemID = (row.values() | list)[0] %}
          {% set staffID = (row.values() | list)[2] %}
          {% set dateBorrowed = (row.values() | list)[4] %}
          <td>
            <form action="/uses/returnUses" methods=[GET,POST]>
              <input type="hidden" name="itemID" value="{{ itemID }}"/>
              <input type="hidden" name="staffID" value="{{ staffID }}"/>
              <input type="hidden" name="dateBorrowed" value="{{ dateBorrowed }}"/>
              <input type="submit" value="Return"/>
            </form>
          </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
